html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*END CSS RESET */


@font-face {font-family: hindBold;src: url(../fonts/Hind-Bold.ttf);}
@font-face {font-family: hindLight;src: url(../fonts/Hind-Light.ttf);}
@font-face {font-family: hindMedium;src: url(../fonts/Hind-Medium.ttf);}
@font-face {font-family: hindRegular;src: url(../fonts/Hind-Regular.ttf);}
@font-face {font-family: hindSemiBold;src: url(../fonts/Hind-Semibold.ttf);}
@font-face {font-family: montserratBold;src: url(../fonts/Montserrat-Bold.ttf);}
@font-face {font-family: montserratRegular;src: url(../fonts/Montserrat-Regular.ttf);}
@font-face {font-family: gudeaBold;src: url(../fonts/Gudea-Bold.ttf);}
@font-face {font-family: gudeaItalic;src: url(../fonts/Gudea-Italic.ttf);}
@font-face {font-family: gudeaRegular;src: url(../fonts/Gudea-Regular.ttf);}

/* INDEX PAGE */
#main{
    background: url(../img/banner.jpg) no-repeat center center;
    min-height: 100vh;
    background-size: cover;
    text-align: center;
    padding: 100px 0px;
}
.main__banner--logo{
    max-width: 100%;
    margin-bottom: 20px;
}
.main__banner--appName{
    color:#ffba00;
    font-size: 300%;
    font-family: montserratBold;
    text-transform: uppercase;
}
.main__button{
    padding-top:100px;
}
.main__button--signIn{
    color:#3a2c05;
    text-transform: uppercase;
    font-size: 150%;
    padding: 15px 50px;
    background: #ffba00;
    font-family: hindLight;
    display: inline-block;
    border: 1px dotted transparent;
}
.main__button--signIn:hover{
    color:#ffffff;
    border: 1px solid #ffba00;
    background:none;
    text-decoration: none;
    transition: all .5s;
}
.main__button--signUp{
    text-decoration: none;
    margin-top:20px;
    font-style: italic;
    color: #ffffff;
    font-family: hindLight;
    display: block;
    font-size: 120%;
}
.main__button--signUp:hover{
    color:#ffba00;    
    text-decoration: none;
    transition: all 1s;
}

/*SIGN IN*/
#signInMain{
    background: url(../img/signin-bg.jpg) no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    padding: 50px 0px;
}
#signUpMain{
    background: url(../img/signup-bg.jpg) no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    padding: 50px 0px;
}
.signInMain__logo, .signUpMain__logo{
    text-align: center;
}
.signInMain__logo--logo, .signUpMain__logo--logo{
    max-width: 100%;
    margin-bottom: 50px;    
}
#signInMain .form-control, .signUpMain .form-control{
    display: block;
    margin-top:20px;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.signInMain__form--button, .signUpMain__form--button{
    color: #eeb10c;
    border:1px solid #eeb10c;
    background:none;
    font-size: 150%;
    font-family: hindLight;
    text-transform: uppercase;
    padding: 15px 30px;
    width:100%;
    margin-top: 50px;
}
.signInMain__form--button:hover,.signUpMain__form--button:hover{
    color:#3a2c05;
    border: 1px solid #eeb10c;
    border: 1px solid transparent;
    background:#eeb10c;
    transition: all 1s;
}
/*HOME*/
#top-nav{
    background:#000000;
    padding: 20px 0px;
    position: fixed;
    width: 100%;
    top:0px;
    z-index: 1;
}
#top-nav li{
    list-style: none;
    display: inline-block;
    margin-left:40px;
}
#top-nav li:nth-child(3){
    margin-right:100px;
}
.top-nav__list{
    color:#ffffff;
    font-family: montserratBold;
    text-transform: uppercase;
    font-size: 120%;
}
.top-nav__list:hover{
    color:#dfab1f;
    text-decoration: none;
}
.top-nav__list span{
    padding-right: 5px;
}
.top-nav__right{
    float:left;
}
.top-nav__logo{
    width:80px;
}
.top-nav__lists{
    float:right;
    margin-top:25px;
}
.main-pageWrapper{
    max-width: 800px;
    margin-top:123px;
}
#main-page{
    background: url(../img/banner.jpg) no-repeat center center fixed;
    background-size: cover;
}
.recentItems__heading,.addEntry__heading{
    background:#dfab1f;
    color:#ffffff;
    font-size: 112.5%;
    font-family: montserratBold;
    text-transform: uppercase;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
}
.recentItem{
    background:#f4e6c1;
    border-top:5px solid #d6bc76;
    border-radius: 5px;
    margin-bottom: 20px;
}
.recentItem__img{
    max-width: 100%;
    padding: 10px;
    border-radius: 15px;
}
.recentItem__foodName{
    font-family: hindLight;
    font-size: 150%;
    text-transform: uppercase;
    font-weight: bold;
    margin-top:10px;
    margin-bottom: 25px;
    color:#5d5234;
    border-bottom: 1px dotted #5d5234;
}
.recentItem__details{
    color:#9d9276;
    font-size:120%;
    font-family: hindLight;
    margin-left:25px;
    line-height: 160%;
    text-transform: uppercase;
}
.recentItem__details .fa{
    margin-right:10px;
}
.mobile__navicon{
    float:right;
    color:#ffba00;
    font-size:250%;
    margin-top: 10px;
    display:none;
}
.mobile__navicon:hover{
    color:#ffffff;
}
#mobileNav{
    position: absolute;
    top:100%;
    width: 100%;
    left:0%;
}
.display-none{
    display: none;
}
#mobileNav a{
    display: block;
    color:#ffffff;
    font-family: montserratBold;
    text-transform: uppercase;
    font-size: 120%;
    text-align: center;
    padding:20px;
    background:#98720b;
}
#mobileNav a:hover{
    text-decoration: none;
    background:#ffba00;
}
.animateIcon{
    transform:rotate(45deg);
    transition: all .3s;
}
.animateBack{
    transform:rotate(0deg);
    transition: all .3s;
}
.show-nav{
    display: block;
}
.display-none{
    display: none;
}
/* ADD ENTRY */
.addEntry__step{
    background: #ffffff;
    margin-bottom: 20px;
    padding: 10px;
}
.step1__num,.step2__num,.step3__num{
    font-family: hindLight;
    font-size: 200%;
    color:#ffffff;
    background: #dfab1f;
    padding: 15px;
    display: inline-block;
}
.step1__name,.step2__name,.step3__name{
    font-family: hindBold;
    color:#716b5c;
    text-transform: uppercase;
    font-size: 112.5%;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 3px dotted #716b5c;
}
.step1__circumplex{
    display: block;
    width: 100%;
}
.step1__emotion{
    text-align: center;
    padding:50px;
}
.step1__head{
    font-family: hindLight;
    font-size: 220%;
    color:#b9b8b4;
}
.step1__selected{
    text-transform: uppercase;
    font-family: montserratBold;
    color:#dfab1f;
    font-size: 220%;
    margin-top:50px;
}
.step2__nameButtons{
    padding:0 30px;
}
.step2__nameButtons input[type='text']{
    margin-top: 25px;
    margin-bottom: 25px;
    height:60px;
}
.step2__nameButtons input[type='file']{
    display: none;
}
.custom-file-select,.custom-file-take{
    cursor: pointer;
    padding:20px;
    font-family: hindLight;
    font-size: 100%;
    margin-bottom: 30px;
}
.custom-file-take{
    background:#878273;
    color:#fffffe;
}
.custom-file-select{
    color:#000000;
    background:#cac8c2;
}
.step2__imgpreview{
    max-width: 200px;
    width:100%;
    border-radius: 10px;
}
.step3__note{
    color:#aea89a;
    font-family: hindLight;
    font-size:100%;
    font-style: italic;
    margin-top:20px;
    margin-bottom: 20px;
}
.dateTaken{
    height:60px;
}
.submitEntrySection{
    text-align: center;
}
.submitEntry{
    color:#543f05;
    background:#efb61c;
    display: inline-block;
    font-family: hindLight;
    font-size: 112.5%;
    display: inline-block;
    padding:20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 50px;
    border:1px solid transparent;
}
.submitEntry:hover{
    background: transparent;
    color:#ffffff;
    border:1px solid #ffffff;
    transition: 1s all;
    text-decoration: none;
}

@media screen and (min-width:992px){
    #mobileNav{
        display: none;
    }
    #main-page{
        opacity: 1;
    }
}
@media screen and (max-width:992px){
    .top-nav__lists{
        display: none;
    }
    #top-nav{
        padding:10px 0px;
    }
    .top-nav__logo{
        width:60px;
    }
    .main-pageWrapper{
        margin-top:83px;
    }
    .mobile__navicon{
        display: block;
    }
    .step1__selected{
        font-size:125%;
        margin-top:10px;
    }
    .step1__head{
        font-size: 100%;
    }
    .step1__circumplex{
        display: block;
        margin: 0 auto;
        width:100%;
        max-width:400px;
    }
}
@media screen and (max-width:425px){
    .submitEntry:hover{
        color:#000000;
        border:1px solid #000000;
    }
  #main-page{
    background:none;
  }
  .recentItem__details{
    margin-left:0px;
  }
  .recentItem__img{
    width: 100%;
  }
  .recentItem{
    border-radius: 0px;
    margin-bottom: 0px;
    border-top-width: 20px;
  }
  .recentItems__heading,.addEntry__heading{
    margin-bottom: 0px;
  }
  #main-page .container{
    padding:0px;
  }
  #main-page .row{
    margin:0px;
  }
  #main-page .col-md-12{
    padding:0px;
  }
  .step1__emotion{
    padding:0px;
    text-align: left;
    margin-top:10px;
  }
  .step1__head{
    font-size: 150%;
  }
  .custom-file-select{
    margin-left:-px;
  }
  .step1__selected{
    margin-top: 10px;
    font-size:150%;
    background:#fcd66f;
    color:#674f0f;
    padding:10px 0;
    text-align: center;
  }
  .custom-file-select,.custom-file-take{
    width:50%;
  }
    .custom-file-select{
        margin-left:-10px;
    }
  .addEntry__step{
    margin-bottom: 0px;
    border-bottom: 5px dotted #000000;
  }

  .recentItems__header .col-md-12{
    padding:0px;
  }
  .submitEntry{
    display: block;
    margin-top:20px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width:767px) and (min-width:426px){
    .recentItem{
        text-align: center;
    }

}



